.todo {
	margin-top: 1%;
	margin-left: 1%;
}

.task-list {
	background-color: #e3e3e3;
	width: 250px;
	min-height: 240px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-top: 10px;
	list-style-type: none;
	margin-top: 15px;
}