.todo {
	margin-top: 1%;
	margin-left: 1%;
	width:630px;

}

.task-list  {
	background-color: #e3e3e3;
	width: 300px;
	min-height: 240px;
	padding-bottom: 15px;

	padding-top: 30px;
	list-style-type: none;
	margin-top: 15px;
	float: left;
}

	.task-list > h3 {
		text-align: center;
	}
.completed-list  {
	background-color: #e3e3e3;
	width: 300px;
	min-height: 240px;
	padding-bottom: 15px;

	padding-top: 30px;
	list-style-type: none;
	margin-top: 15px;
	margin-left: 30px;
	float: left;
}

.completed-list > h3 {
		text-align: center;
	}